<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= adminCategoriesTitle %></title>
    <%- include('../partials/styles.ejs') %>
    <%- include('../partials/favicon.ejs') %>
</head>
<body>
    <!-- <form method="post">
        <label>Titel</label>
        <input
          type="text"
          name="category_title"
          value="<%= typeof category != 'undefined' ? category.category_title : '' %>">
        <button>Gem</button>
      </form> -->


      

      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="admin-form">
                    <form method="post" id="admin-form">
                            <label>Titel</label>
                            <input
                              type="text"
                              name="category_title"
                              value="<%= typeof category != 'undefined' ? category.category_title : '' %>">
                              <button type="button" class="btn btn-danger gem ">Gem</button>
                          </form>
                        </div>
              </div>


              
              
          
          
          
                <div class="col-md-8">
                        <table>
                           <thead>
                             <tr>
                               <th>Actions</th>
                               <th>Id</th>
                               <th>Titel</th>
                             </tr>
                           </thead>
                         
                           <% if(typeof categories != 'undefined') { %>
                           <tbody>
                             <% categories.forEach(category => { %>
                             <tr>
                               <td>
                                 <a href="/admin/categories/edit/<%= category.category_id %>"> <button type="button" class="btn btn-success">Ret</button></a>
                                 <a type="button" class="btn btn-danger
                                   href="/admin/categories/delete/<%= category.category_id %>"
                                   onclick="return confirm('Er du sikker på du vil slette?')">Slet</a>
                               </td>
                               <td><%= category.category_id %></td>
                               <td><%= category.category_title %></td>
                             </tr>
                             <% }) %>
                           </tbody>
                           <% } %>
                         </table> 
                     </div>
          </div>

      </div>

     
           

          
          


      <%- include("../partials/js.ejs") %>
</body>
</html>