<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      <!-- Favicon -->
      <link rel="icon" href="img/core-img/favicon.ico">

      <!-- Core Stylesheet -->
      <link rel="stylesheet" href="style.css">
</head>
<body>
      <!-- ##### Header Area Start ##### -->
    <header class="header-area">

            <%- include("partials/header.ejs") %>
            <%- include("partials/nav.ejs") %>
    
                
               
            </header>
            <!-- ##### Header Area End ##### -->

            <%- include("partials/news.ejs") %>









    <%- include("partials/footer.ejs")%>
    <%- include("partials/js.ejs")%>
</body>
</html>