<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>

    <%- include('partials/styles.ejs') %>
    <%- include('partials/favicon.ejs') %>
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <%- include("partials/header.ejs") %>

                            <div class="login-search-area d-flex align-items-center">
                                <div class="login d-flex">
                                    <%- include("partials/login.ejs") %>
                                    <%- include("partials/register.ejs") %>
                                </div>

                                <div class="search-form">
                                    <%- include("partials/search.ejs") %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("partials/nav.ejs") %>
    </header>
    <!-- ##### Header Area End ##### -->



    <div class="hero-area">  
            <div class="container">
           <div class="row align-items-center">
               <div class="col-12 col-lg-8">

                       <%- include("partials/breaking-news.ejs") %>
                       <%- include("partials/international-news.ejs") %>
                  
                    </div>

                    <div class="col-12 col-lg-4">
                         <%- include("partials/summer-trip-buy-now.ejs") %>
                    </div>
           </div>
          </div>
           </div>


    <!-- ##### Featured Post Area Start ##### -->
    <div class="featured-post-area">
        <div class="container">
            <div class="row">

                <%- include('partials/home-single-feature-post.ejs') %>




                <div class="col-12 col-md-6 col-lg-4">
                    <!-- small featued post side Post -->


                    <%- include('partials/home-small-featured-post.ejs') %>

                    <!-- end of small featured post Post -->
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Featured Post Area End ##### -->





    <!-- ##### Popular News Area Start ##### -->
    <div class="popular-news-area section-padding-80-50">
        <div class="container">
            <div class="row">

                <%- include('partials/home-popular-news.ejs') %>
            </div>


            <div class="col-12 col-lg-4">



                <!-- Popular News Widget -->

                <%- include('partials/most-popular-news.ejs') %>

                <!--end of Popular News Widget -->




                <!-- Newsletter Widget -->
                <%- include('partials/newsletter-form.ejs') %>
            </div>
        </div>
    </div>
    </div>
    <!-- ##### Popular News Area End ##### -->

    <!-- ##### Video Post Area Start ##### -->
    <div class="video-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
        <%- include('partials/home-video.ejs') %>
    </div>
    <!-- ##### Video Post Area End ##### -->

    <!-- ##### Editorial Post Area Start ##### -->
    <div class="editors-pick-post-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <!-- Editors Pick -->
                <div class="col-12 col-md-7 col-lg-9">
                   <%- include('partials/home-editors-pick.ejs') %>
                </div>

                <!-- World News -->
                <div class="col-12 col-md-5 col-lg-3">
                    
                    <%- include('partials/home-world-news.ejs') %>

                </div>
            </div>
        </div>
    </div>
    <!-- ##### Editorial Post Area End ##### -->











    <!-- ##### Footer Add Area Start ##### -->
    <div class="footer-add-area">
        <%- include("partials/home-buy-now.ejs") %>
    </div>




    <%- include("partials/footer.ejs") %>
    <%- include("partials/js.ejs") %>
</body>

</html>