<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(typeof newspage != 'undefined'){%>
    <% newspage.forEach(newspage_elem =>{%> 
     
    <div class="newspage">
        <h3><%= newspage_elem.article_title %></h3>
        <p><%= newspage_elem.article_text %></p>
        <img src="/img/bg-img/<%= newspage_elem.article_image %>" alt="">
        <span><%= newspage_elem.article_postdate %></span>
        <span><%= newspage_elem.article_like %></span>
        <span><%= newspage_elem.article_is_featured %></span>
    </div>
    <% }) %>
    <% } %>
</body>
</html>